DATABASE_URL=postgresql+psycopg2://postgres:your_password@localhost:5432/todo
TEST_DATABASE_URL=postgresql+psycopg2://postgres:your_password@localhost:5432/todo_test

AUTH_JWT_SECRET_KEY=change-me-to-a-long-random-secret
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=10
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=30

AUTH_COOKIE_HTTPONLY=False
AUTH_COOKIE_SECURE=True
AUTH_COOKIE_SAMESITE=none

TIMEZONE=Asia/Tehran

LOG_LEVEL=INFO
LOG_DIR=logs
LOG_ROTATION=10 MB
LOG_RETENTION=14 days
